body{
    background-color:gold;
    padding: 0;
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
#form{
    border-radius: 80%;
    background-color: lightgreen;
    width: 650px;
    height: 350px;
}
#input{
    border-radius: 50%;
    background-color:cadetblue;
    width: 180px;
    height: 55px;
    margin-left: 55px;
    text-align: center;
    margin-right: 20px;
    border: none;
}
#input::placeholder{
    color: cyan;
    font-size: 20px;
}
#number{
    border-radius: 50%;
    background-color: cadetblue;
    width: 180px;
    height: 55px;
    margin-top: 100px;
    text-align: center;
    margin-left: 20px;
    border: none;
}
#number::placeholder{
    color: cyan;
    font-size: 20px;
}
#select{
    border-radius: 50%;
    width: 120px;
    height: 38px;
    background-color:coral;
    text-align: center;
}
#button{
    border-radius: 48%;
    width: 220px;
    height: 75px;
    margin-left: 225px;
    border: none;
    background-color:lightsalmon;
    color:steelblue;
    margin-top: 60px;
    font-size: 40px;
}